<section id="pricing" class="pricing-area gray-bg pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-25">
                    <h2 class="title">Цены!!</h2>
                    <p>Я очень люблю деньги, поэтому тут какой-то текст. Интим не предлагать!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing text-center mt-30">
                    <div class="pricing-package">
                        <h4 class="package-title">Просто</h4>
                    </div>
                    <div class="pricing-body">
                        <div class="pricing-text">
                            <p>Simple project management for teams and small businesses.</p>
                            <span class="price">$19.00</span>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>Unlimited Tasks</li>
                                <li>Unlimited Public</li>
                                <li>Private Projects</li>
                                <li>Unlimited Teams</li>
                                <li>All Integrations</li>
                                <li>Public API</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="main-btn" href="#contact">хочу</a>
                        </div>
                    </div>
                </div> <!-- single pricing -->
            </div>
            <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing active text-center mt-30">
                    <div class="pricing-package">
                        <h4 class="package-title">Сложно</h4>
                    </div>
                    <div class="pricing-body">
                        <div class="pricing-text">
                            <p>Simple project management for teams and small businesses.</p>
                            <span class="price">$39.00</span>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>Unlimited Tasks</li>
                                <li>Unlimited Public</li>
                                <li>Private Projects</li>
                                <li>Unlimited Teams</li>
                                <li>All Integrations</li>
                                <li>Public API</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="main-btn" href="#contact">хочу</a>
                        </div>
                    </div>
                </div> <!-- single pricing -->
            </div>
            <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing text-center mt-30">
                    <div class="pricing-package">
                        <h4 class="package-title">Премиум обсулживание</h4>
                    </div>
                    <div class="pricing-body">
                        <div class="pricing-text">
                            <p>Simple project management for teams and small businesses.</p>
                            <span class="price">$29.00</span>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>Unlimited Tasks</li>
                                <li>Unlimited Public</li>
                                <li>Private Projects</li>
                                <li>Unlimited Teams</li>
                                <li>All Integrations</li>
                                <li>Public API</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="main-btn" href="#contact">хочу</a>
                        </div>
                    </div>
                </div> <!-- single pricing -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
