<style>
    .x-edit {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000000;
    }

    .x-edit__hotspots {
         z-index: 1;
    }
    .x-edit__modals{
        z-index: 2;
    }

    .hovered {
    }

    .hovered::after {
        background-color: rgba(0, 250, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
    }

</style>

<div class="x-edit">
    <div class="x-edit__hotspots"></div>
    <div class="x-edit__modals">

        <!-- Basic modal -->
        <div class="modal fade" id="modalSingle" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit: <span class="name"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="slot"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
