<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Installation</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

</head>
<body class="container lg:mx-auto bg-light">

<main class="">
    <h1>Installation</h1>
    <hr>
    <form action="/api/db/check" method="post" name="install">
        <h2>Language</h2>
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <select class="form-select" name="language">
                    <option value="en">English</option>
                    <option value="ru">Русский</option>
                </select>
            </div>
        </div>

        <h2>Database configuration</h2>
        <div class="row">
            <label>You can get this details from your hosting provider. Select Sqlite if you don't know your db settings; this will use file-based database.</label>
            <div class="col-md-6 mb-3">
                <select class="form-select col-md-6 " name="db_driver">
                    <option value="mysql">MySql</option>
                    <option value="pgsql">PostgreSQL</option>
                    <option value="sqlite">Sqlite</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">DB name*</label>
                <input class="form-control" type="text" name="db_name" placeholder="slimland">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">DB user*</label>
                <input class="form-control" type="text" name="db_user">
            </div>

            <div class="col-md-6 mb-3">
                <label for="">DB password*</label>
                <input class="form-control" type="text" name="db_pass">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">DB host</label>
                <input class="form-control" type="text" name="db_host" placeholder="localhost">
            </div>

            <div class="col-md-6 mb-3">
                <label for="">DB port</label>
                <input class="form-control" type="text" name="db_port" placeholder="3306">
            </div>
        </div>

        <button id="checkDb" class="btn btn-primary mb-3" type="button">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Check connection
        </button>

        <div class="visually-hidden">
            <h2>Admin credentials</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="">Email</label>
                    <input class="form-control" type="email" name="email" >
                </div>

                <div class="col-md-6 mb-3">
                    <label for="">Password</label>
                    <input class="form-control" type="password" name="password" autocomplete="off" >
                </div>
            </div>
        </div>

        <button id="submit" class="btn btn-primary mb-3" type="submit">Submit</button>
    </form>
</main>

<script>
    const btnCheckDB = document.getElementById('checkDb');
    const btnSubmit = document.getElementById('submit');
    const selectDriver = document.querySelector('select[name="db_driver"]');
    const dbPort = document.querySelector('input[name="db_port"]');

    btnCheckDB.addEventListener('click', async function (e) {
        const url = '/api/db/check';
        let dbData = {};

        const formData = new FormData(document.forms.install)
        for (var key of formData.keys()) {
           dbData[key] = formData.get(key);
        }

        let response = await fetch('/api/db/check', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(dbData)
        });

        let result = await response.json();
        console.log('Успех:', JSON.stringify(result), result);

        // fetch(url, {
        //     method: 'post',
        //     headers: {
        //         'Accept': 'application/json, text/plain, */*',
        //         'Content-Type': 'application/json'
        //     },
        //     body: JSON.stringify(dbData)
        // })
        // .then(res => res.json())
        // .then(res => console.log(res));
    })



    btnSubmit.addEventListener('click', function (e) {
        // e.preventDefault();
        console.log('submit', e.target);
    })

    selectDriver.addEventListener('change', function (e) {
        const option = e.target.selectedOptions[0].value;
        switch (option) {
            case 'mysql':
                port = 3306;
                break;
            case 'pgsql':
                port = 5432;
                break;
            default:
                port = '';
        }

        dbPort.setAttribute('placeholder', port);
    })
</script>
</body>
</html>
