LOGIN

<form action="/login" method="post">
    <label for="">email</label>
    <input type="email" name="email">

    <label for="">pass</label>
    <input type="password" name="pass">

    <input type="submit">
</form>
